/* Site layout styles */

body {
 background: #f4f4f4 url('/static/images/bg_lines.png') 50% 0 repeat-y; 
}
#site-wrapper{ 
  margin: 0 auto;
  padding: 0;
  width: 924px;
}

/* Header */
.site-header {
  padding: 18px 0 10px 0;
}
.site-name {
  font-family: 'Vollkorn', 'Arial black', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.9em;
  letter-spacing:0.01em;
  line-height: normal;
  margin: 0;
}
  .site-name a {
    text-decoration: none;
    color: #333;
    outline: none;
  }
  .site-name a:hover {
    color: #999;
  }

/* Primary nav */
.primary-nav {
  width: 100%;
  margin: -0.3em 0 0 0;
  padding: 0;
}
.primary-nav li {
  display: inline;
  margin: 0;
  padding: 0 20px 0 0;
  list-style-type: none;
  font-size: 1.1em;
  line-height: normal;
  text-transform: lowercase;
}
.primary-nav li a {
  text-decoration: none;
  color: #333;
}
  .primary-nav li a:hover {
    background-color: #ccc;
  }

/* Temporary dev styles */
#dev {
  border: 1px dashed #ccc;
  padding: 1em;
  margin: 1em 0;
  background-color: #fff;
}
